.wy-nav-side {background-color: #e0f0e0; 
    color:black; 
    border-right: solid 1px #c9c9c9;
}
.wy-nav-side a:hover {background-color: #2db862; color:white;}
.wy-menu-vertical a {color: black;}

.wy-menu-vertical li.toctree-l2 a, 
    .wy-menu-vertical li.toctree-l3 a, 
    .wy-menu-vertical li.toctree-l4 a {background-color: #f0f0f0;}


.wy-side-nav-search {background-color: #2db862;}

.highlight {background-color: #fffce8;}
.friendly-small-pre {
    font-size: 80%;
    margin:0;
}
.filename-header {
    margin: 6px 0;
    padding: 6px 0;
    background-color: #e8f0f8;
    border-top: solid 3px #3080c0;
    color:black;
}